<app-auth-layout>
  <form class="login w-100" [formGroup]="fGroup" (submit)="onSubmit()">
    <div
      class="login__error text-danger border border-danger p-3 mb-4"
      *ngIf="error"
    >
      {{ error }}
    </div>
    <h4 class="fw-semi-bold mb-4">Login</h4>
    <div class="form-floating mb-4">
      <input
        type="email"
        class="form-control position-relative"
        [ngClass]="
          fGroup.get('email')?.invalid && fGroup.controls['email'].touched
            ? 'border border-danger'
            : null
        "
        id="floatingInput"
        placeholder="name@example.com"
        formControlName="email"
      />
      <label for="floatingInput">Email address</label>
      <div
        class="login__error text-danger position-absolute bottom-1 left-0"
        *ngIf="fGroup.get('email')?.invalid && fGroup.controls['email'].touched"
      >
        Field is required
      </div>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control position-relative"
        id="floatingPassword"
        [ngClass]="
          fGroup.get('password')?.invalid && fGroup.controls['password'].touched
            ? 'border border-danger'
            : null
        "
        placeholder="Password"
        formControlName="password"
      />
      <label for="floatingPassword">Password</label>
      <div
        class="login__error text-danger position-absolute bottom-1 left-0"
        *ngIf="
          fGroup.get('password')?.invalid && fGroup.controls['password'].touched
        "
      >
        Field is required & must have atleast 4 characters
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary mt-4 w-100 p-3"
      [disabled]="fGroup.invalid"
    >
      Login
    </button>
    <div class="mt-2">
      New user?
      <span class="text-primary login__link" routerLink="/auth/register"
        >Register here</span
      >
    </div>
  </form>
</app-auth-layout>
