@import "node_modules/bootstrap/scss/bootstrap.scss";
.default-layout {
  &__nav {
    flex: 0 0 20%;
    &-link {
      cursor: pointer;
    }
  }
  &__items {
    height: 100vh;
  }
  &__user {
    &-name,
    &-email {
      width: 80%;
    }
  }
  @include media-breakpoint-down(lg) {
    &__items {
      height: auto;
    }
  }
}
