<div class="dashboard">
  <h3 class="mb-3">Tasks</h3>
  <div
    class="dashboard__table_empty d-flex flex-column align-items-center justify-content-center"
    *ngIf="!taskData?.length; else tasktable"
  >
    <p>No tasks found</p>
    <button type="button" class="btn btn-primary" (click)="openTaskModal()">
      Create
    </button>
  </div>
  <ng-template #tasktable
    ><app-table
      [data]="searchResult ? searchResult : taskData"
      (onEdit)="onEditTask($event)"
      (onDelete)="onDelete($event)"
      (onCreate)="openTaskModal()"
      (onSearch)="searchTask($event)"
    ></app-table
  ></ng-template>
</div>
<ng-template #createTasksModal>
  <app-forms-modal
    (createTask)="createTask($event)"
    (editTask)="editTask($event)"
    (onClose)="hideModal()"
    [isEdit]="isEdit"
    [data]="editData"
  ></app-forms-modal>
</ng-template>
